* { /*Resetando estilos basicos na page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #6494ed; /*Cor de fundo */
}

main {
    min-width: 100%; /*Sempre ocupar toda tela */
    min-height: 100vh; /*VH para ocupar toda tela na altura */
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizando meu relogio */
}

.clock { /* Estilizando relogio */
    width: 600px; /* Tamanhos de altura e largura iguais */
    height: 600px;
    background-color: #f0f8ff;
    border-radius: 600px;
    border: 15px groove #333;
    position: relative;
}

.number {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: bisque;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; /*centralizando e alinhar o numero */
    padding: 5px; /*Separar da borda*/
}