* { /*Resetando estilos basicos na page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #6494ed; /*Cor de fundo */
}

main {
    min-width: 100%; /*Sempre ocupar toda tela */
    min-height: 100vh; /*VH para ocupar toda tela na altura */
}

.clock {
    width: 600px;
    height: 600px;
    background-color: #f0f8ff;
    border-radius: 600px;
    border: 15px groove #333;
}