* { /*Resetando estilos basicos na page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #6494ed; /*Cor de fundo */
}

main {
    min-width: 100%;
    min-height: 100vh;
}